.home{
  /* background-color: red; */
  margin-top: 100px;
  text-align: center;
  /* min-height: 100%; */
 }

.home__input {
  min-width: 300px;
  height: 50px;
}

.home__container {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.product-filter {
  /* background-color: blue; */
  width: 15%;
  text-align: left;
  margin-left: 50px;
  cursor: pointer;
}

.product-container {
    margin: 2em;
    /* background-color: red; */ 
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(
      auto-fit, 
      minmax(
        350px,
        1fr
      )
    );
    grid-gap: 1em;
    width: 85%;
    min-height: 100vh;
  }
  
  .social {
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
  }

  .social__info {
    display: flex;    
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    margin: 0.3em;
    cursor: pointer;
  }