.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin: 2em;
  }
  
  footer {
    background-color: #3C3C3B;
    color: white;
    height: 200px;
    width: 100%;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

  .social__info {
    display: flex;    
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    margin: 0.3em;
    cursor: pointer;
  }